.card {
 
    border: 10px solid rgba(0,0,0,.125);
   
}

img, svg {
   
    height: 100px;
    
}

.content
{
    font-size: 0.7rem;
}

.h6, h6 {
    font-size: 0.8rem;
}
h3,h1{
    color: black;
    text-align: center;
}